.details {
    display: grid;

        margin: 0 auto;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 325px 370px 284px;
        grid-template-areas: "outline meetings-top"
        "modules meetings-top"
        "pre meetings-bottom";

        @media screen and (min-width: 1400px) {
            max-width: 80%;
        } 

    
    @include respond(md) {
        max-width: 100%; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "outline"
                         "meetings-top"
                         "modules"
                         "meetings-bottom"
                         "pre";
    }




    &__section {
        padding: 4em;
    }





    .outline {
        grid-area: outline;
        position: relative;
        .heading {
            @include divider($color-orange, left);
        }

        .content {
            width: 100%;
            padding: 1em;
            padding-left: 0;
            @media screen and (min-width: 1400px) {
                padding: 0 5em;
                position: absolute;
                left: 6em;
                top: 132px;
                width: 78%;
            }
       
        }


    
    }
    .modules {
        position: relative;
        grid-area: modules;
        overflow: hidden;

        

     
        .heading {
            @include divider($color-orange, left);
          
        }

        .icon-box {
            flex-direction: row-reverse;
            align-items: center;
            @include respond(md) {
                align-items: center;
            }
        }

        .icon-box__icon {
            
            z-index: 10;
           display: inline-block;
           width: 50px;
            svg {
                background-color: $color-light;
            }
        }


        .tns-inner {
            padding: 2em 0;            
        }

    }
    .pre {
        grid-area: pre;
        display: flex;
        flex-direction: column;
    
        .heading {
            @include divider($color-orange, left);
        }



        &__content {
            padding: 1em;
            display: flex;
            align-items: center;

            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    flex: 0 0 9em;
                    padding: .5em;

                    @include respond(lg) {
                        flex: 1 1 100%;
                    }
                }
            }

     
            &::before {
                content: "";
                display: none;
                width: 1px;
                height: 5em;
                background-color: rgba($color-gray-dark, .9);
                margin-right: 1.7em;
                margin-left: .7em;
                
                @include respond(md) {
                    display: inline-block;

                }
            }

  

         
        }
    }










    .meetings-top {
        grid-area: meetings-top;
        background-color: $color-gray;
        text-align: center;
        padding: 5em;

       .icon-box__icon {
            margin: -0.5em 1em 0 0;
       }

        ul {
            max-width: 9em;
            margin: 0 auto;
            padding-left: 1.7em;
         @include respond(md) {
            max-width: 100%;
            padding: 0;
            text-align: left;
            padding-left: 4.5em;
        }

            li {
                margin: .5em 0;
            }
        }
        .heading {
            @include divider($color-orange, center);
          @include respond(md) {
                @include divider($color-orange, left);
            }
        }
    }
    .meetings-bottom {
        padding: 3em;
        text-align: center;
        grid-area: meetings-bottom;
        align-self: end;
        background-color: $color-gray;

        &__inner {
            max-width: 500px;
            margin: 0 auto;
        }

        svg {
            width: 3.5rem;
            height: 3.5rem;
        }

        &__blockquote {
            font-size: 1.1rem;
            margin-bottom: 2em;
            display: block;
        }

        &__btn {
            background-color: $color-blue-dark;
            color: $color-light;
            padding: .7em 1em;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-family: inherit;
            display: block;
            margin: 1.2em 2em;
            transition: all .4s ease-out;
            border: 2px solid;
            border-color: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
        
        }
        
    }
}








