.counter {
    display: inline-block;
    font-family: $font-secondary;
    background-color: $color-cyan;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 100%;
    top: 8em;
    padding: 1em 1.8em;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 400;
    transform: translateY(1.5em) translateX(8.5em);
    width: 12em;
    transition: transform .4s ease-in-out;
    white-space: nowrap;
    display: none;

    &__text {
        opacity: 0;
        transition: opacity .2s .3s ease-out;
    }


    @media #{$desktop}, #{$desktop} {
        &:hover {
            transform: translateY(1.5em) translateX(0);
            .counter__text {
                opacity: 1;
            }
        
        }
    }

    @media #{$mobile} {
        font-size: 1.2rem;
        top: 11em;
        background-color: rgba($color-cyan, .6);
    }
}