.form {
    &__group {
        margin: 1em 0;
        &.error {
            .form__control {
                border-color: $errorRed;
            }
            .message {
                opacity: 1;
            }
        }
        &.success {
            .form__control {
                border-color: #28a745;
            }
        }
    }

    &__control {
        font-family: inherit;
        font-size: 1.2rem;
        color: currentColor;
        width: 100%;
        padding: .5em 1.1em;
        border: 1px solid;
        border-color: rgba($color-gray-dark, .8);
        border-radius: 0;
  
    }
    &__btn {
        background-color: $color-orange;
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.4rem;
        display: block;
        width: 100%;
        cursor: pointer;
        appearance: none;
        transition: all .2s ease-in-out;
        border: 2px solid;
        border-color: transparent;
        -webkit-appearance: none;
        appearance: none;
        padding: .3em;
        &:hover {
            color: $color-orange;
           background-color: transparent;
           border-color: currentColor;
        }
    
    }
    .message {
        color: $errorRed;
        text-align: left;
        font-size: .8em;
        margin-top: 5px;
        margin-left: 5px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1;
        opacity: 0;
    }
}




