*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    @include respond(md) {
        font-size: 14px;
    }


   @include respond(xs) {
        font-size: 11px;
    }


}


body {
    box-sizing: border-box;
    font-family: $font-primary;
    color: $color-blue-dark; 
    overflow-x: hidden;
}

ul {
    list-style: none;
    a {
        color: $color-light;
        text-decoration: none;
        font-family: inherit;
    }
}


strong {
    font-weight: 900;
}