/* Breakpoints */
$mobile-sm: "(max-width: 375px)";
$mobile: "(max-width: 576px)";
$tablet: "(min-width: 577px) and (max-width: 992px)";
$tablet-lg: "(max-width: 1535px)";
$desktop: "(min-width: 1536px)";



